<div class="auth-wrapper auth-v1 px-2" *ngIf="!hidePage">
  <div class="auth-inner py-2">
    <!-- Reset Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">Dubai Police</h2>
        </a>

        <h4 class="card-title mb-1">Reset Password 🔒</h4>
        <p class="card-text mb-2">Your new password must be different from previously used passwords</p>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-new">New Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                         name="Password"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        placeholder="Your Password"
                        formControlName="password"  
                        required     
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye': passwordTextType,
                      'icon-eye-off': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
            *ngIf="submitted && f.password.errors" 
            class="form-text text-danger"
          >
            <small *ngIf="f.password.errors.required"> Password is required. </small>
            <small *ngIf="f.password.errors.pattern">
              Must contain at least one number and one uppercase and lowercase letter and At least one special character, and at least 8 or
              more characters.</small
            >
          </div>
          </div>
          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="reset-password-confirm">Confirm Password</label>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                        [type]="confPasswordTextType ? 'text' : 'password'"
                        class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                        placeholder="Confirm Password"
                        formControlName="confirmPassword"
                        placeholder="Confirm Password"
                        class="form-control"
                        required
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye': confPasswordTextType,
                      'icon-eye-off': !confPasswordTextType
                    }"
                    (click)="toggleConfPasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
            *ngIf="submitted && f.confirmPassword.errors" 
            class="form-text text-danger"
          >
            <small *ngIf="f.confirmPassword.errors.required">
              Confirm password is required.
            </small>
            <small *ngIf="f.confirmPassword.errors.mustMatch">
              Password & Confirm Password does not match.</small
            >
          </div>
          </div>
          <button type="button" 
          [disabled]="loading"
          (click)="onSubmit()"
           class="btn btn-primary btn-block" tabindex="3"  rippleEffect>
           <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
           Set New Password
          </button>
        </form>

        <p class="text-center mt-2">
          <a routerLink="/authentication/login">
            <i data-feather="chevron-left" class="mb-25"></i> Back to login
          </a>
        </p>
      </div>
    </div>
    <!-- /Reset Password v1 -->
  </div>
</div>

<div class="auth-wrapper auth-v1 px-2" *ngIf="hidePage">
  <div class="auth-inner py-2">
    <!-- Reset Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">Dubai Police</h2>
        </a>

        <h4 class="card-title mb-1">{{message}}</h4>
        <!-- <p class="card-text mb-2"> Please login again</p> -->
        <p class="text-center mt-2">
          <a routerLink="/authentication/login">
            <i data-feather="chevron-left" class="mb-25"></i> Back to login
          </a>
        </p>
      </div>
    </div>
    <!-- /Reset Password v1 -->
  </div>
</div>