@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';


.card{
    text-align: center !important;
}

.card-body {
    padding: 0.5rem !important;
}

.brand-logo{
    margin: 1rem 0 1rem !important;
}