<!-- <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <section id="page-account-settings">
        <div class="row nav-vertical d-flex">
          <div class="col-md-3 mb-2 mb-md-0">
            <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
              <li class="nav-item" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-general"
                  data-toggle="pill"
                  href="#account-vertical-general"
                  aria-expanded="true"
                >
                  <i data-feather="user" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">General</span>
                </a>
                <ng-template ngbNavContent>
                  
                </ng-template>
              </li>

              <li class="nav-item" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                  <i data-feather="lock" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Change Password</span>
                </a>
                <ng-template ngbNavContent>
                
                </ng-template>
              </li>

              <li class="nav-item" ngbNavItem>
                <a
                  ngbNavLink
                  class="nav-link d-flex py-75"
                  id="account-pill-notifications"
                  data-toggle="pill"
                  href="#account-vertical-notifications"
                  aria-expanded="false"
                >
                  <i data-feather="bell" class="font-medium-3 mr-1"></i>
                  <span class="font-weight-bold">Notifications</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <h6 class="section-label mx-1 mb-2">Activity</h6>
                        <div class="col-12 mb-2">
                          <div class="custom-control custom-switch">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [checked]="data.commentOnArticle"
                              id="accountSwitch1"
                            />
                            <label class="custom-control-label" for="accountSwitch1">
                              Email me when someone comments onmy article
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mb-2">
                          <div class="custom-control custom-switch">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [checked]="data.AnswerOnForm"
                              id="accountSwitch2"
                            />
                            <label class="custom-control-label" for="accountSwitch2">
                              Email me when someone answers on my form
                            </label>
                          </div>
                        </div>
                        <div class="col-12 mb-2">
                          <div class="custom-control custom-switch">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [checked]="data.followMe"
                              id="accountSwitch3"
                            />
                            <label class="custom-control-label" for="accountSwitch3"
                              >Email me when someone follows me</label
                            >
                          </div>
                        </div>
                        <h6 class="section-label mx-1 mt-2">Application</h6>
                        <div class="col-12 mt-1 mb-2">
                          <div class="custom-control custom-switch">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [checked]="data.newAnnouncements"
                              id="accountSwitch4"
                            />
                            <label class="custom-control-label" for="accountSwitch4">News and announcements</label>
                          </div>
                        </div>
                        <div class="col-12 mb-2">
                          <div class="custom-control custom-switch">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [checked]="data.productUpdates"
                              id="accountSwitch6"
                            />
                            <label class="custom-control-label" for="accountSwitch6">Weekly product updates</label>
                          </div>
                        </div>
                        <div class="col-12 mb-75">
                          <div class="custom-control custom-switch">
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              [checked]="data.blogDigest"
                              id="accountSwitch5"
                            />
                            <label class="custom-control-label" for="accountSwitch5">Weekly blog digest</label>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary mt-2 mr-1" rippleEffect>Save changes</button>
                          <button type="button" (click)="onCancel()" class="btn btn-outline-secondary mt-2" rippleEffect>Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
          </div>
          <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
        </div>
      </section>
    </div>
  </div> -->